<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kevinfunderburg.getMyHandlers</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>12A79D67-14D8-4395-8954-97B37CE62313</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>123842FE-8FA9-4547-B324-D340DC67CF94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5719DF8B-919B-4491-A4DC-ECA3596241B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3C5F461-343C-4CC8-A8F4-642692BFB400</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3C5F461-343C-4CC8-A8F4-642692BFB400</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12A79D67-14D8-4395-8954-97B37CE62313</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD18D16D-62E7-4777-874D-82AFD2CBE253</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3C5F461-343C-4CC8-A8F4-642692BFB400</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kevin Funderburg</string>
	<key>description</key>
	<string>gets a list of all the handlers and inserts the chosen handler as a clipping</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Script Debugger - Get Kevin's Library Handlers</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv

	tell application "Keyboard Maestro Engine"
		do script "29A34A79-54AE-4A75-82B0-A6488AB389F8" with parameter item 1 of argv
	end tell

end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>123842FE-8FA9-4547-B324-D340DC67CF94</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>typedTrigger</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>DD18D16D-62E7-4777-874D-82AFD2CBE253</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>myhand</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>osascript getLibHandlers.scpt "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Get my handlers</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>12A79D67-14D8-4395-8954-97B37CE62313</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>libPath</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C3C5F461-343C-4CC8-A8F4-642692BFB400</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>slibs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>getting libraries...</string>
				<key>script</key>
				<string>osascript getLibraries.scpt</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>View the handlers for the used script libraries</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>5719DF8B-919B-4491-A4DC-ECA3596241B0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>123842FE-8FA9-4547-B324-D340DC67CF94</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>12A79D67-14D8-4395-8954-97B37CE62313</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>5719DF8B-919B-4491-A4DC-ECA3596241B0</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>C3C5F461-343C-4CC8-A8F4-642692BFB400</key>
		<dict>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>DD18D16D-62E7-4777-874D-82AFD2CBE253</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>none</string>
</dict>
</plist>
